$grid-gutter-width = 20px
$container-md = 980px + $grid-gutter-width
$container-lg = 980px + $grid-gutter-width
$screen-md-min = 1010px

@import 'bootstrap'
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700')


body
	font-family: 'Arimo', sans-serif
	color: #767676