.carousel.slide.carousel-fade(id="carousel", data-ride="carousel")
	ol.carousel-indicators
		- var count = 0;
		while count < slideCount
			li(data-slide-to=count++, data-target="#carousel")
	.carousel-inner
		- count = 0;
		while count < slideCount
			- count++
			.item
				img(src="images/slide-1.jpg", alt="")