#modal.modal.fade(tabindex="-1", role="dialog")
	.modal-dialog(role="document")
		.modal-content
			button(class="close", type="button", data-dismiss="modal", aria-label="Close")
				span(aria-hidden="true") &times;
			.modal-body
				form.feedback-form(action="", method="post")
					h2 feedback

					.form-group
						label.control-label(for="name") Name
						input#name.form-control(type="text")

					.form-group
						label.control-label(for="phone") Phone
						input#phone.form-control(type="tel")

					.form-group
						label.control-label(for="email") Email
						input#email.form-control(type="email")

					.form-group
						label(for="text") Text
						textarea#text.form-control

					button.black-button(type="submit") submit
