#modal.modal.fade(tabindex="-1", role="dialog")
	.modal-dialog(role="document")
		.modal-content
			button(class="close", type="button", data-dismiss="modal", aria-label="Close")
				span(aria-hidden="true") &times;
			.modal-body
				form.feedback-form.clearfix(action="", method="post")
					h2 feedback

					.form-group
						input#name.form-control(type="text", required)
						label.control-label(for="name") Name

					.form-group
						input#phone.form-control(type="tel", pattern="[0-9]{10}",required)
						label.control-label(for="phone") Phone (format: 0990844902)

					.form-group
						input#email.form-control(type="email", required)
						label.control-label(for="email") Email

					.form-group
						textarea#text.form-control
						label(for="text") Text

					button.submit-button.pull-right(type="submit") submit
