footer
	div.container.clearfix
		p.copyright.pull-left &copy; Knubisoft 2012–2013, <br/>All Rights Reserved. 
		nav.pull-right
			ul.footer-nav
				if navLinks != null
					each val in navLinks
						li
							a(href="#")= val