footer
	div.container
		p.copyright &copy; Knubisoft 2012–2013, <br/>All Rights Reserved. 
		nav
			ul
				each val in ['home','catalog','shipping and payment','price','contacts']
					li
						a(href="")= val