header
	.header-top-block.clearfix
		.container
			a(class="header-top-block__logo-link.pull-left", href="")
				img(src="images/logo.png", alt="")
			.header-top-block__feedback-block.pull-right
				a(href="#") +3 (050) 777 77 77
				a(href="#") +3 (050) 777 77 77
				a(href="#",class="header-top-block__feedback-block-link") Feedback

	nav.navbar.navbar-default
		.container
			.navbar-header
				button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navbar", aria-expanded="false")
					span.sr-only Toggle Navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav
					each val in ['home','catalog','shipping and payment','price','contacts']
						li
							a(href="#")= val