header
	.header-top-block.clearfix
		.container

			a(class="header-top-block__logo-link.pull-left", href="")
				img(src="images/logo.png", alt="")

			.feedback-block.pull-right
				.feedback-block__phones.pull-left
					a(href="#") +3 (050) 777 77 77
					a(href="#") +3 (050) 777 77 77
				a.feedback-block__feedback-link(href="#modal", data-toggle="modal", data-target="#modal") Feedback

	nav.navbar.navbar-default
		.container
			.navbar-header
				button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navbar", aria-expanded="false")
					span.sr-only Toggle Navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav
					if navLinks != null
						each val in navLinks
							li
								a(href="#")= val