div.item-block
	div.item-block__image-block
		a(href="#")
			img(src="images/item.jpg", alt="")
		p.item-block__image-block-text Lorem ipsum dolor sit amet, consectetur doler adipiscing elit.
	div.item-block__cart-block.clearfix
		span.item-block__cart-block-price.pull-left $ #{val}
		a(href="#", class="item-block__cart-block-add-item pull-right")
			img(src="images/icon-cart.png")