div#sidebar-menu
	div.list-group-panel
		a(href="#sub-menu-1", data-toggle="collapse", data-parent="#sidebar-menu") Cars
		div(id="sub-menu-1", class="collapse")
			a(href="#", class="list-group-item") Mersedes
			a(href="#", class="list-group-item") BMV
			a(href="#", class="list-group-item") Aston Martin
		a(href="#sub-menu-2", data-toggle="collapse", data-parent="#sidebar-menu") Cars
		div(id="sub-menu-2", class="collapse")
			a(href="#", class="list-group-item") Mersedes
			a(href="#", class="list-group-item") BMV
			a(href="#", class="list-group-item") Aston Martin	
		a(href="#sub-menu-3", data-toggle="collapse", data-parent="#sidebar-menu") Cars
		div(id="sub-menu-3", class="collapse")
			a(href="#", class="list-group-item") Mersedes
			a(href="#", class="list-group-item") BMV
			a(href="#", class="list-group-item") Aston Martin	
a(href="", class="price-list__link")
	img(src="images/icon-pricelist.png", alt="")
	span Price List