doctype html
html
	head
		title= title
		link(href="stylesheets/css/main.min.css", rel="stylesheet")
	body
		include includes/header.pug

		block content

		include includes/footer.pug
		include includes/feedback-modal.pug
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		script(src="javascripts/main.js")