@import url('https://fonts.googleapis.com/css?family=Arimo:400,700')

body
	font-family   'Arimo', sans-serif
	color         #767676
input:valid
	border 1px solid rgba(0,255,0,0.3)
	box-shadow 0px 0px 3px 0px rgba(0,255,0,0.3)
input:invalid
	border 1px solid rgba(255,0,0,0.3)
	box-shadow 0px 0px 3px 0px rgba(255,0,0,0.3)