//VARIABLES
$black-light-color = #767676
$black-dark-color  = #282c37
$transparent       = transparent
// Makes container's width 980px + 10px padding from both sides
$grid-gutter-width = 20px
$container-md      = 980px + $grid-gutter-width
$container-lg      = 980px + $grid-gutter-width

// col-md class breakpoint (container-md width + scrollbar width + 1px for the breakpoint)
$screen-md-min     = 1018px

// navbar properties
$navbar-height                   = 80px
$navbar-margin-bottom            = 0px
$navbar-border-radius            = 0px
$navbar-padding-vertical         = 0px
$navbar-default-bg               = $black-dark-color
$navbar-default-border           = $black-dark-color
$navbar-default-link-color       = #fff
$navbar-default-link-hover-color = #fff

// carousel properties
$carousel-indicator-border-color = rgba(0,0,0,0.05)
$carousel-indicator-active-bg    = #fff	


// breadcrumb properties
$breadcrumb-bg                 = $transparent
$breadcrumb-color              = $black-dark-color
$breadcrumb-color-hover        = $black-dark-color
$breadcrumb-padding-vertical   = 35px
$breadcrumb-padding-horizontal = 0px
$breadcrumb-separator          = "▸"


// pagination properties
$pagination-color           = $black-light-color
$pagination-hover-color     = $black-dark-color
$pagination-active-color    = $black-dark-color

$pagination-border          = $transparent
$pagination-hover-border    = $transparent
$pagination-active-border   = $transparent

$pagination-bg              = $transparent
$pagination-hover-bg        = $transparent
$pagination-active-bg       = $transparent
 



// list group properties
$list-group-border           = $transparent
$list-group-hover-bg         = $transparent
$list-group-link-color       = $black-light-color
$list-group-active-bg        = $transparent
$list-group-link-hover-color = $black-dark-color